/**
 * @name Annie Dark Bootleg Version Public Source
 * @author Kaczer
 * @version 1.0
 * @description Still don't know what I'm doing
*/



/* Discord's variables */
.theme-dark {
    --background-primary: #141414;
    --background-secondary: #111111;
    --background-secondary-alt: #0c0c0c;
    --background-tertiary: #0c0c0c;
    --background-accent: #242424;
    --background-floating: #111111;
    --background-modifier-hover: #0a0a0a;
    --background-modifier-active: #323232;
    --background-modifier-selected: #242424;
    --background-modifier-accent: #242424;
    --button-secondary-background: #242424;
    --button-secondary-background-hover: #323232;
    --button-secondary-background-active: #242424;
    --button-outline-primary-border: #323232;
    --button-outline-primary-background-hover: #323232;
    --modal-background: #141414;
    --modal-footer-background: #111111;
    --scrollbar-thin-thumb: #242424;
    --scrollbar-thin-track: #11111100;
    --scrollbar-auto-thumb: #242424;
    --scrollbar-auto-track: #0c0c0c;
	--button-outline-primary-background-hover: #323232; 
    --button-outline-primary-background-active: #242424; 
    --button-outline-primary-border-hover: #242424;
    --button-outline-primary-border-active: #242424;
    --input-background: #242424;
    --background-message-hover: #101010;
    --channeltextarea-background: #242424;
    --deprecated-text-input-bg: #242424;
    --deprecated-text-input-border: #242424;
    --home-background: #0c0c0c;
}

/*Other stuff that I don't wanna name*/
.theme-dark .pageWrapper-2PwDoS {
    background-color: #141414;
    color: hsl(0,calc(var(--saturation-factor, 1)*0%),100%);
}

.theme-dark .searchAnswer-23w-CH, .theme-dark .searchFilter-2UfsDk {
    background-color: #242424;
}

.theme-dark .autocomplete-3NRXG8 {
    background-color: #242424;
}

.theme-dark .tierHeaderLocked-30MLlO, .theme-dark .tierHeaderUnlocked-1OpOLf {
    background-color: #0c0c0c;
}

.theme-dark .tierBody-1d3UiS {
    background-color: #111111;
    color: hsl(216,calc(var(--saturation-factor, 1)*3.7%),73.5%);
}

.theme-dark .background-fkKrXt {
    background-color: #111111;
} 

.theme-dark .perksModal-CLcR1c{
	background-color: #101010;
}

.theme-dark .perk-19D_HN {
    background-color: #242424
}

.card-2ZCHT-{
    background-color: #141414E6;
}

.theme-dark .notches-2w7UZJ.gray-3wP137 {
    color: #141414
 }

.theme-dark .progress-1S-TDF {
    background-color: #323232;
}

.cardPrimary-pAe8Ed {
    background: #0c0c0c;
}

.cta-3-AFNF{
	background-color: #323232
}

.button-3Vyz67{
	background-color: #323232
}

.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB {
    background-color: #111111;
}

.theme-dark .emptyPage-2TGR7j, .theme-dark .scrollerContainer-y16Rs9 {
    background-color: #111111;
}

.theme-dark .container-1um7CU {
    background-color: #111111;
}

.theme-dark .checkbox-1LuCGM {
    border-color: #242424;
}

.forumOrHome-2VTX6r {
    --__header-bar-background: #111111;
}

.container-3wLKDe {
    background: var(--bg-overlay-chat,#111111);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker, 
.theme-dark .calendarPicker-sDhzdi .react-datepicker__header {
    background-color: #141414;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day {
   background-color: #141414;
   border-color: #242424;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day--outside-month {
   background-color: #0c0c0c;
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day:hover, 
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:hover {
   background-color: var(--brand-500);
}

.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--disabled {
   background-color: #0c0c0c;
}
.theme-dark .calendarPicker-sDhzdi .react-datepicker__day.react-datepicker__day--selected:after,
.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l {
   background-color: var(--brand-500);
}
.theme-dark .datePicker-3iA7_k .datePickerHint-Ir4715 .hintValue-V9hd8l:hover {
   background-color: var(--brand-430);
} 

